<% include ./partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header"><%=pic.title%></div>
    <div class="ui top attached">
        <div class="item">
             <img class="ui centered rounded image" src="<%=pic.image%>">
        <div class="content">
                <span><%=pic.created.toDateString()%></span> 
             </div> 
        <div class="description">
                <p><%-pic.body%></p>
        </div>
        <a class="ui orange basic button" href="/pics/<%=pic._id%>/edit">Edit</a>
        <form id="delete" action="/blogs/<%=pic._id%>?_method=DELETE" method="POST">
            <button class="ui red basic button">Delete</button>
        </form>
      </div>
  </div>
       
        
        
</div>
<% include ./partials/footer %>